body {
background-color: #0011ff;
color: #000d49;
font-family: Arial, sans-serif;
text-align: center;
}

.container {
max-width: 400px;
margin: 0 auto;
padding: 20px;
}

.avatar {
width: 120px;
border-radius: 50%;
border: 3px solid lightgray;
}

.btn {
display: block;
background-color: #16213e;
color: white;
padding: 15px;
margin: 10px 0;
text-decoration: none;
border-radius: 8px;
transition: 0.3s;
}

.btn:hover {
background-color: #060f85b2;
transform: scale(1.02);
}

.destaque {
    background-color: #0048ff;
}